body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
}

header h1, footer p {
	margin: 0;
}

main {
	padding: 1em;
}

section {
	margin-bottom: 2em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	margin-left: 1em;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
