body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

header {
  position: sticky;
  display: flex;
  align-items: center;
}

footer {
  overflow: hidden;
  height: fit-content;
}

@media only screen and (max-width: 767px) {
  .myHeader {
    display: block;
  }

  .nav-title {
    color: pink;
    background-color: blue;
  }

  .myForm {
    visibility: hidden;
  }
}

/* ---------------------------------------------------------------- */
