body {
  margin: 0px;
  background-color: #bbb;
  /* overflow-x: hidden; */
}

.container {
  position: relative;
  width: 1300px;
  margin: 0px auto;
}

header {
  background-color: #8fb0ff;
  background-size: cover;
  box-shadow: 0px 5px 10px white;
  padding: 1px;
}

header .image1 {
  position: absolute;
  top: -5px;
  left: 450px;
}

header .image2 {
  position: absolute;
  top: -5px;
  left: 795px;
}

.page_title {
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

article .container {
  background-color: #8fb8ff;
  margin-top: 50px;
  border: 3px solid gray;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 3px black;
  width: 1100px;
}

.selection {
  border-bottom: 3px solid black;
}

.selection,
.selection select {
  min-width: 120px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.selection label {
  text-shadow: 2px 2px 2px white;
}

.selection select {
  box-shadow: 1px 2px 5px black;
}

.app_container {
  position: relative;
}

.app_container button {
  position: absolute;
  right: 110px;
  top: 87px;
  background-color: #d33;
  width: 70px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #d00;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.app_container button:hover {
  box-shadow: 5px 5px 5px white;
  background-color: white;
  color: red;
}

.app_container button:active {
  box-shadow: 5px 5px 5px green;
  background-color: #658;
  border: 2px solid lightblue;
  color: white;
}

.app_body {
  height: 80px;
  border: 3px solid gray;
  box-shadow: 2px 2px 10px;
  border-radius: 20px;
  width: 620px;
  margin: 20px auto 0;
}

.app_body input {
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  width: 150px;
}

.app_body input,
.app_body label {
  font-size: 20px;
  margin: 25px 0 0 20px;
  font-weight: bold;
}

.app_body label {
  margin-top: 27px;
  text-shadow: 2px 2px 2px white;
}

.result {
  width: 600px;
  margin: 20px auto;
  font-size: 20px;
  text-align: center;
}

.logo img {
  position: absolute;
  top: 95px;
  left: 110px;
}

.information_container {
  width: 1100px;
  margin: 40px auto;
}

.information_container h2 {
  color: #669;
  text-shadow: 1px 3px 5px white;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.information_container img {
  margin-left: 250px;
}

.links {
  background-color: #8fb0ff;
  background-size: cover;
  box-shadow: 0px 5px 10px white;
  padding: 1px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 2px 2px white;
}
