body {
  font-family: "PT Sans", sans-serif !important;
  overflow-x: hidden;
}

.desc {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  max-width: 40rem;
  padding-top: 50px;
}
.btn-green {
  background-color: #65ff8f !important;
  width: 300px !important;
  margin: 0 auto;
}

h4 {
  color: white;
  font-weight: lighter;
}

.my-para-circuit {
  color: white;
  font-size: large;
  font-weight: 100;
}
